.game-container {
  display: grid;
  border: 0px solid black;
  padding: 8px;
}

.game-title  {
  text-transform: uppercase;
  text-align: center;
}

.field {
  position: relative;
  border: 2px solid black;
  background-color: rgb(246, 189, 82);
  border-radius: 10px;
  transition-duration: 0.2s;
  width: 12vw;
  height: 12vw;
  margin: 0.5vw;
}

.cross::after, .cross::before, .unclaimed-cross:hover::before, .unclaimed-cross:hover::after {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  transform: translateY(-50%) rotate(45deg);
  width: 100%;
  height: 10%;
  background-color: black;
}
.cross::before, .unclaimed-cross:hover::before {
  transform: translateY(-50%) rotate(-45deg);

}
.unclaimed-cross, .unclaimed-circle {
  opacity: 70%;
  cursor: pointer;

}

.unclaimed-cross:hover, .unclaimed-circle:hover {
  transform: scale(1.07) translate(-5px, -5px) ;
  box-shadow: 5px 5px;

}

.circle::after, .circle::before, .unclaimed-circle:hover::before, .unclaimed-circle:hover::after {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: black;
  width: 90%;
  height: 90%;
  border-radius: 100%;
}
.circle::before, .unclaimed-circle:hover::before {
  width: 70%;
  height: 70%;
  background-color: rgb(246, 189, 82);
  z-index: 1;
}

.winner, .circle.winner::before {
  background-color: green;
  transition-duration: 2s;
}
.winner {
  transform: rotateX(180deg);
}
