.game-container {
  display: grid;
  border: 4px solid black;
  padding: 5px;
}

.field {
  position: relative;
  border: 2px solid black;
  width: 12vw;
  height: 12vw;
  margin: 10px;
}

.cross::after, .cross::before, .unclaimed-cross:hover::before, .unclaimed-cross:hover::after {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  transform: translateY(-50%) rotate(45deg);
  width: 100%;
  height: 20px;
  background-color: black;
}
.cross::before, .unclaimed-cross:hover::before {
  transform: translateY(-50%) rotate(-45deg);
} 
.unclaimed-cross, .unclaimed-circle {
  opacity: 70%;
}

.circle::after, .circle::before, .unclaimed-circle:hover::before, .unclaimed-circle:hover::after {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: black;
  width: 90%;
  height: 90%;
  border-radius: 100%;
}
.circle::before, .unclaimed-circle:hover::before {
  width: 70%;
  height: 70%;
  background-color: wheat;
  z-index: 1;
}
